<footer class="footer fixed-bottom">
  <div class="row">
    <div class="d-flex justify-content-between ">
      <div class="align-self-start col">
        <img class="img brand"  src="../../assets/img/logo_seguridad_social.png" alt="">
      </div>
      <div class="align-self-center col">
        <ng-marquee>
          <span class="text-white h3">Nuevo servicio para obtener un informe integrado de prestaciones - Calendario Laboral 2020 - Presupuestos de la Seguridad Social 2020 - Estadística de bases de cotización y cotizantes</span>
        </ng-marquee>
      </div>
    </div>
  </div>
</footer>
